

body {
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    /*Removes the horizontal and vertical scrollbars and prevents 
    programmatic scrolling*/
    overflow:clip;
  }

.ground{
  width: 100vw;
  height: 400px;
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
  /*.ground is the third element in stacking on the page*/
  z-index:3;
  position:absolute;
  margin-top: -58px;
}


.penguin{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 38px;
}

.left-mountain{
    width: 300px;
    height: 300px;
    background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
    position: absolute;
    /*First is the angle to shear the x axis by and the second is an angle to
    shear the y-axis. Gives it the mountain shape*/
    transform: skew(0deg, 44deg);
    z-index:2;
    margin-top:100px;
}

.back-mountain{
    width:300px;
    height:300px;
    background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
    position:absolute;
    z-index:1;
    /*helps set the mountain tops in the back*/
    transform:rotate(45deg);
    left: 110px;
    top:225px;
}

.sun{
    width: 200px;
    height: 200px;
    background-color:yellow;
    position:absolute;
}  



  
#footer{
    text-align: center;
    font-size:120%;
    font-weight: bolders;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(25, 61, 70);
    height: auto;
    width: 100vw;
    color: #fff;      /* Footer height */
  }

 a{
    color:#fff;
  }
